@import 'variables';

/* Toolbar */
header {
  padding: 4% 7%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  background: linear-gradient(90deg, rgba(252, 162, 255, 1) 0%, rgba(255, 221, 0, 1) 50%, rgba(255, 0, 0, 1) 111%);
  color: $text-color;

  .logo {
    height: 23px;
    margin: 0 10px;
  }

  h1 {
    margin: 0;
    font-size: 23px;
    display: inline-block;

    b.rose {
      color: $maillot-rose;
    }

    b.jaune {
      color: $maillot-jaune;
    }

    b.rouge {
      color: $maillot-rouge;
    }
  }

  @media screen and (min-width: $break-small) {
    padding: 2% 11%;

    h1 {
      font-size: 34px;
    }

    .logo {
      height: 34px;
      margin: 0 10px;
    }
  }

}

/* Main frame */
.container {
  padding: 4% 7%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $break-small) {
    margin: 4%;
  }

}

.advise {
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

/* Footer */
footer {
  width: 100%;
  padding: 5px;
  border-top: 2px $text-color solid;
  text-align: center;

  h4 {
    margin: 5px;
    font-weight: 500
  }

  strong {
    color: rgb(230, 21, 21);
  }

  a {
    color: $text-color;
    text-decoration: none;
  }
}
