@import 'variables.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  color: $text-color;
  background-color: $background-color;
}

.loading-spinner {
  color: $text-color;
}

.noscript {
  color: $text-color;
}
