/* Colors */
// $main-color: #EF9A9A;
// $background-color: #424242;
$background-color: #FAFAFA;
// $text-color: #FAFAFA;
$text-color: #424242;
$disabled-color: rgb(158, 158, 158);

$maillot-rose: #FCA2FF;
$maillot-jaune: #FFDD00;
$maillot-rouge: #FF0000;

/* Fonts */
$font-family: Roboto, sans-serif;

/* Media queries break */
$break-xsmall: 370px;
$break-small: 820px;
